
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


 /*<-------------------------Bootstrap End---------------------------------->*/
/*.value {
  padding: 5px;
  width: 100px;
  margin: 5px;*/
  /*border: solid black 2px;*/
/*}*/

/*.question {
  padding: 5px;
  margin: 5px;
  border: solid red 2px;
}*/
.col-md-4 {
  /*border: solid 2px black;*/
}

.whole_question {
  padding: 5px;
  width: 200px;
  margin: 5px;
  border: solid black 2px;
}

.value_id_positive {
  color: green;
}

.value_id_negative {
  color: red;
}

#title {
  text-align: center;
}
/*.reveal_answer_wrong {
  font-size: 30px;
  color: red;
  font-weight: bold;
}*/

/*.reveal_answer_right {*/
  /*font-size: 30px;*/
  /*color: green;*/
  /*font-weight: bold;*/
/*}*/
