<html>
<head>
	<title>Jeopardy!</title>
</head>
<body>

<h1>Welcome to Jeopardy!</h1>

<h2>Choose a difficulty level:</h2>
<button id="level1_btn">$100</button>
<button id="level2_btn">$200</button>
<button id="level3_btn">$300</button>
<button id="level4_btn">$400</button>
<button id="level5_btn">$500</button>
<button id="level6_btn">$600</button>
<button id="level7_btn">$700</button>
<button id="level8_btn">$800</button>
<button id="level9_btn">$900</button>
<button id="level10_btn">$1000</button>

</body>
</html>