/*body {
	background-image: url("meadow.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
*/
.wrapper {
	position: relative;
	width: 500px;
}

#ufo {
	position: absolute;
	top: 100px;
}

#bulldozer {
	position: absolute;
	top: 255px;
	left: 645px;
	z-index: 0;
}

#satchel {
	position: absolute;
	top: 400px;
	left: 1000px;
}

#towel {
	position: absolute;
	top: 460px;
	left: 165px;
	z-index: 1;
}

#stick-man {
	position: absolute;
	z-index: 1px;
	left: 800px;
	top: 300px;
}

#toothbrush {
	position: absolute;
	top: 350px;
	left: 500px;
	z-index: 1;
}

#dressing_gown {
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 1;
}

#capsule {
	position: absolute;
	top: 370px;
	left: 800px;
	z-index: 1;
}

.counter {
	position: absolute;
	top: 400px;
	left: 1050px;
	z-index: 1;
}